body{
    background-color:white;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

.fixed{
    top:0;
    position:fixed;
    right:0;
    left:0;
    z-index:1000;
}

strong.love{
    color:#F44336;
}

.section{
    padding:25px 0px;
}

.section:last-of-type{
    border-bottom:none;
}

.section-header{
    margin-bottom:15px;
    text-align:center;
}

#about-me p{
    margin-top:10px;
    text-align:center;
    padding:0px 45px;
}
#about-me p:first-child:first-letter{
    font-size: 2em;
    font-weight:bold;
}

#projects{
    background-color:black;
    color:white;
}

#show-case{
    overflow:hidden;
    white-space: nowrap;
    position:relative;
    width:100%;
    background-color:black;
}


#slider{

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    width:100%;
    height:100%;
    position:relative;
    left:0;
}

#slider-nav{
    background-color:black;
    width:100%;
    height:30px;
    display:flex;
    padding:5px;
    justify-content: center;
}



.slider-btn:hover{
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.show-case-item {
    vertical-align: top;
    color:white;
    white-space: normal;
    display:inline-block;
    width:100%;
    height:100%;
    padding:0px 20px;
    padding-bottom:20px;
    background-color:black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size:100px auto;
    background-repeat:no-repeat;
    background-position:90% bottom;
}

.show-case-item h3{
    display: inline-block;
}

.status{
    font-style:italic ;
    display: inline-block;
}

.item-title{
    text-transform: uppercase;
    border:1px solid white;
    background-color:rgba(0,0,0,0.8);
    color:white;
    font-size:0.8em;
    margin-right:auto;
    margin-left:auto;
    display:table;
    position:relative;
    top:15px;

}

.portrait{
    height:250px;
    margin-left:auto;
    margin-right:auto;
    -webkit-filter:drop-shadow(5px 5px 7px #cccccc);
    -ms-filter: drop-shadow(5px 5px 7px #cccccc);
    filter: drop-shadow(5px 5px 7px #cccccc);
}

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color:white;
}

.header{
    background-image: url("../images/dark-softcloth.png");
    height:150px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;
    border-bottom:3px solid saddlebrown;
    -webkit-transition: border-bottom 0.5s ease-in-out;
    -moz-transition: border-bottom 0.5s ease-in-out;
    -ms-transition: border-bottom 0.5s ease-in-out;
    -o-transition: border-bottom 0.5s ease-in-out;
    transition: border-bottom 0.5s ease-in-out;

}

hr{
    border:none;
    border-bottom:1px solid white;
    margin-bottom:2px;
    margin-top:2px;
}

#title{
    padding:10px;
    background-color:transparent;
    color:white;
    display: table;
    text-align: center;
    margin-bottom:20px;
}


.nav-bar{
    position:absolute;

    display:flex;
    left:0;
    right:0;
}
#nav-bar{
    justify-content:center;
    bottom:0;
 padding-bottom:5px;
}

#nav-bar button{
    background-color:transparent;
    color:white;
    border:none;
    margin:0px 10px;
    text-transform:uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#nav-bar button:focus{
    border:none;
    outline:none;
}

#nav-bar button.selected{
    color:white;
    padding:5px;
    -webkit-transform: scale(1.4,1.4);
    -moz-transform: scale(1.4,1.4);
    -ms-transform: scale(1.4,1.4);
    -o-transform: scale(1.4,1.4);
    transform: scale(1.4,1.4);

}

#link-bar{
    display:flex;
    top:2px;
    justify-content: center;
    height:30px;
}

.link-img{
    height:23px;
    width:auto;
    -webkit-filter: grayscale(1);
    -ms-filter:grayscale(1);
    filter:grayscale(1) ;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.link-img:hover{
    -webkit-filter:grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
}
.facebook{
    height:23px;
    position:relative;
    top:2.5px;
}
#link-bar a{
    margin:0px 3px;
}

#title h1{
    margin-top:0;
    text-transform: uppercase;
}

#title h4{
    font-size:0.8em;
}

.link-btn{
    height:40px;
    border:1px solid white;
    padding:5px 10px;
    text-align: center;
    display: inline-block;
    cursor:pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    line-height: 30px;
}

.link-btn:hover{
    background-color:white;
    color:black;
}

#main-body{
    margin-top:150px;
}
#ReelMovies{
    background-image: url("../images/film-reel.png");
    background-size:150px auto;
}

#DSmasher{
    background-image: url("../images/dsmasher.png");

}



footer{

    padding:5px;
    padding-left:40px;
    height:30px;

    border-top:2px solid #292929;
}

.circle-btn{
    background-color:white;
    cursor:pointer;
    display:inline-block;
    height:14px;
    width:14px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    margin:0px 10px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.circle-btn.selected{
    background-color: grey;
}

.circle-btn:hover{
    background-color:grey;
}

.status-circle{
    height:10px;
    width:10px;
    display: inline-block;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    margin-left:5px;
}

.status-circle.finished{
    background-color:green;
}

.status-circle.incomplete{
    background-color:yellow;
}

.resume-btn{
    background-color:white;
    border:1px solid black;
    position:relative;
    bottom:7px;
    margin-left:71px;
    color:black;

}

.resume-btn:hover{
    background-color:black;
    color:white;
    border:1px solid #cccccc;
}

.img-gallery{
    width:100%;
    display:flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.img-gallery img {
    height:100px;
    margin-right:10px;
    width:auto;
}



@media(max-width:325px){
    #nav-bar button{
        font-size:0.65em;
    }
}

@media(max-width:470px){
    .resume-btn{
        bottom:0;
        margin-left:0;
    }
}

@media(min-width:1000px){
    .show-case-item p{
        padding-right:50px;
    }
}